{% extends "base.html" %}
{% block title %}{% endblock %}

{% block base_content %}

{% load static %}
{% block head %}{% endblock head %}
{% if user.is_authenticated %}
    <a id="logout" href="{% url 'logout' %}">
        <i class="fas fa-sign-out-alt" title="Logout"></i>
        <span class="icon-text">Log out</span>
    </a>
{% endif %}




<a class="my_button bottom-left" style="display:none;" id="back_to_session" href="">
    <i class="fas fa-dumbbell" title="Session"></i>
    <span class="icon-text"> Back to Session</span>
</a>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div>{% block content %}{% endblock content %}</div>
        </div>
    </div>
</div>



<!-- My JS -->
<script src="{% static 'sessions/js/navigation.js' %}"></script>
<script>{% block my_script %}{% endblock my_script %}</script>

{% endblock base_content %} 

